{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="py-6">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary" onclick="loginModal.showModal()">Get Started</button>

            <!-- Login Modal -->
            <dialog id="loginModal" class="modal">
                <div class="modal-box max-w-md text-left">
                    <h3 class="font-bold text-lg mb-2">Login</h3>
                    <p class="mb-2">
                        <span id="logged-in-as">{{ logged_in_as }}</span>
                    </p>
                    <form id="loginForm" class="flex flex-col gap-3">
                        <div class="flex flex-col gap-3 w-full mb-3">
                            <div class="flex items-center gap-3">
                                <label for="username" class="w-24">Username:</label>
                                <input type="text" id="username" name="username" placeholder="Username" required class="input input-bordered w-full">
                            </div>
                            <div class="flex items-center gap-3">
                                <label for="password" class="w-24">Password:</label>
                                <input type="password" id="password" name="password" placeholder="Password" required class="input input-bordered w-full">
                            </div>
                        </div>
                        <div class="flex flex-col items-center gap-3">
                            <div class="flex gap-3">
                                <button type="submit" hx-post="/login" hx-target="#logged-in-as" hx-ext="json-enc" class="btn btn-primary">Login</button>
                                <button type="button" hx-post="/logout" hx-target="#logged-in-as" hx-ext="json-enc" class="btn btn-error">Logout</button>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="loginModal.close()">✕</button>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>
</div>
{% endblock %}